<div id="menu">
	<div class="btn-group btn-group-justified">
	  <a href="#/send"
	  	class="btn square btn-info"
	  	tabindex="-1"
	  	ng-class="{ 'btn-muted': current !== 'send' 		}">
	  	SEND
	  </a>
	  <a href="#/receive"
	  	class="btn square btn-info"
	  	tabindex="-1"
	  	ng-class="{ 'btn-muted': current !== 'receive' 	}">
	  	RECEIVE
	  </a>
	  <a href="#/history"
	  	class="btn square btn-info"
	  	tabindex="-1"
	  	ng-class="{ 'btn-muted': current !== 'history' 	}">
	  	HISTORY
	  </a>
	</div>

</div>
