<div id="navbar-custom" class="btn-group btn-group-justified btn-group-condensed">
	<div class="col-xs-2">
		<a class="square btn btn-sm btn-default disabled">
			SPARECOINS
		</a>
	</div>
	<div class="col-xs-4 col-xs-offset-4">
		<a class="square btn btn-sm btn-default disabled" id="balance">
			BAL:
			<strong>
				<span class='text-success'><i class="fa fa-bitcoin"></i> {{ balance }}</span>
			</strong>
		</a>
	</div>
	<div class="col-xs-1">
		<div class='dropdown pull-left'>
			<a class="square btn btn-sm btn-default" data-toggle="dropdown">
				<i class="fa fa-wrench"></i>
			</a>
			<ul class="dropdown-menu menu-align" role="menu" aria-labelledby="dLabel">
		    <li>
		    	<a href="#">Backup Wallet</a>
		    </li>
		    <li>
		    	<a href="#/all-addresses">See All Addresses</a>
		    </li>
		    <li>
		    	<a href="#">Logout</a>
		    </li>
		    <div class="line-divider"></div>
		    <li>
		    	<a class='text-muted disabled'>Import Wallet</a>
		    </li>
		    <li>
		    	<a class='text-muted disabled'>Change Password</a>
		    </li>
		  </ul>
		</div>
	</div>
</div>
