<br>
<div id="login">
	<div class="row">
		<div class="h3 text-center">
			<span class="label label-grey square">
				<strong>NO NETWORK DETECTED:</strong>
			</span>
		</div>
	</div>
	<br>
	<div class="tight-row">
		<p class="text-warning text-center">
			Please connect to the internet to access full functionality of SpareCoins.
		</p>
	</div>
	<div class="tight-row">
		<h4 class="text-center">
			You may still:
		</h4>
	</div>
	<br>
	<div class="tight-row text-center">
		<a href="#/backup-private-keys" class="btn btn-info square">Back up your Wallet</a>
	</div>
	<br>
</div>
